html,
body {
	height: 100%;
	width:100% !important;
}

body {
	font-family: Roboto;
	margin: 0;
	padding: 0;
}



* {
    /* Keyword values */
    font-smooth: auto;
    font-smooth: never;
    font-smooth: always;

    /* <length> */
    font-smooth: 2em;

    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}



/* Header */
	.header {
		position: relative;
		background-color: #545e65;
		padding: 30px 30px 0;
	}

	.search-input {
		display: inline-block !important;
		width: 200px !important;
		font-weight: 500 !important;
		border-bottom: none !important;
		position: relative;
		top: -6px;
		left: -4px;
	}
	.search-logo {
		margin: 0 10px 0 20px;
		position: relative;
		top: 2px;
	}
	.header-devider {
		display: inline-block;
		margin: 0 0 0 20px;
		border-left: 1px solid #969ca0;
		height: 25px;
		position: relative;
		top: 1px;
	}
	.wallet-text,
	.money-text {
		position: relative;
		top: -6px;
	}

	.dropdown-triangle {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 4px 3px 0 3px;
		border-color: #b4b8bb transparent transparent transparent;
		display: inline-block;
		cursor: pointer;
		position: relative;
		top: -8px;
	}

	.header-avatar {
		display: inline-block;
		width: 25px;
		height: 25px;
		border-radius: 100%;
		cursor: pointer;
		overflow: hidden;
	}
	.header-avatar img {
		display: block;
		width: 100%;
		height: 100%;
	}

	.backpack {
		margin: 0 0 0 25px;
		position: relative;
		top: -1px;
		cursor: pointer;
	}
	.notif {
		margin: 0 15px;
		position: relative;
		top: -3px;
		cursor: pointer;
	}

	.main-menu {
		margin: 10px 0 9px 77px;
	}
	.main-menu a {
		color: #cccfd1;
		border-bottom: 3px solid transparent;
		transition: .3s;
		text-transform: uppercase;
		padding: 9px 8px;
		font-size: 13px;
		font-weight: 500;
		margin: 0 10px;
	}
	.main-menu a.active,
	.main-menu a:hover {
		color: #fff;
	}
	.main-menu a.active {
		border-bottom: 3px solid #2bdf87;
	}
	.open-menu-btn {display: none;}

	@media (max-width: 768px) {
		.header-left,
		.header-right {
			float: none !important;
			clear: both;
			display: table;
			margin-left: auto;
			margin-right: auto;
		}
		.header .dropdown-triangle {margin-left: 3px;}

		.header.on-typing .header-left {
			float: left !important;
		}

		.main-menu {
			width: 100%;
			height: 0;
			overflow: hidden;
			transition: .3s;
		}
		.main-menu.opened {
			height: 170px;
		}
		.main-menu a {
			display: block;
			width: 100%;
		}

		.open-menu-btn {
			display: block;
			position: absolute;
			top: 25px;
			right: 30px;
		}
		.open-menu-btn i {font-size: 26px;}
	}

	@media (max-width: 600px) {
		.close-search-btn {right: 30px !important;}
	}


	@media (max-width: 500px) {
		.open-menu-btn {right: 10px;}


		.header.on-typing .logo,
		.header.on-typing .header-devider {display: none !important;}
	}



	.quick-search-panel {
		height: 0;
		overflow: hidden;
		padding: 0;
		background-color: #fff;
		transition: .3s;
		position: relative;
		top: -30px;
	}

	.quick-search-panel .book-img-3 img {top: 0px;}
	.quick-search-panel .new-price {font-size: 28px;}

	.quick-search-panel .book-card-description {width: 50%;}
	.quick-search-panel .book-card {
		margin: 0 0 40px;
	}

	.header.on-typing .quick-search-panel {
		height: auto;
		overflow: hidden;
		padding: 40px 30px 0;
		top: 0;
	}
	.header.on-typing {
		height: 95px;
		position: relative;
		z-index: 200;
	}

	.header.on-typing .search-input,
	.header.on-typing .search-logo {color: #fff;}

	.header.on-typing .main-menu,
	.header.on-typing .header-right,
	.header.on-typing .open-menu-btn {
		display: none !important;
	}

	.close-search-btn {
		display: none;
		position: absolute;
		top: 27px;
		right: 100px;
	}
	.close-search-btn i {color: #b0b5b8 !important; transition: .3s;}
	.close-search-btn:hover i {color: #eee !important;}

	.header.on-typing .close-search-btn {
		display: block;
	}


	.close-layer {
		transition: .3s;
		background-color: rgba(0,0,0, .0);
		z-index: -9999;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
	}
	.close-layer.active {
		background-color: rgba(0,0,0, .15);
		z-index: 199;
	}
/* end Header */



/* 1 User Profile */
	.user-profile-modal {
		height: auto;
		padding-bottom: 30px;
	}

	._avatar-wrapper {
		padding-top: 20px;
		padding-bottom: 20px;
		width: 100%;
	}

	._avatar {
		border: 10px solid rgba(255,255,255, .14);
		width: 180px;
		height: auto;
	}

	._avatar-wrapper .user-name {
		margin-top: 30px;
		font-size: 30px;
	}

	.stars-block .text {
		font-weight: 500;
		font-style: italic;
		font-size: 15px;
		position: relative;
		top: -4px;
	}
	.stars-block i {font-size: 19px !important;}

	.user-info {}
	.user-info._center {width: 50%;}

	.user-info .title {
		font-size: 25px;
		margin-bottom: 30px;
		margin-top: 30px;
		text-align: center;
		padding: 0 20px;
	}

	.user-info .number {
		font-size: 32px;
	}
	.user-info .under-number {
		font-size: 20px;
		padding: 0 20%;
		line-height: 1.2em;
		margin-bottom: 25px;
	}

	@media (max-height: 700px) {
		.user-profile-modal {
			height: 100%;
		}
	}

	@media (max-height: 1100px) {
		.user-info .number {font-size: 32px;}
		.user-info .under-number {font-size: 18px;}
	}

	@media (min-height: 1200px) {
		._avatar { width: 250px;}
	}
/* end User Profile */



/* 2 Sell Textbooks*/
	.illustration-1 {
		margin-right: 20px;
		position: relative;
		top: 20px;
	}

	.input-with-arrow i {
		position: absolute;
		top: 10px;
		right: 0;
	}

	.scan-img {
		display: inline-block;
		margin-top: 6px;
	}
	.scan-btn span {
		position: relative;
		top: -8px;
	}
	.scan-btn {margin-top: 12px;}
/* end Sell Textbooks*/



/* 3 Sell Textbooks with books */
	.book-card {
		margin-bottom: 60px;
		padding-left: 0 !important;
		padding-right: 60px !important;
		min-width: 450px;
		max-width: 450px;
	}
	.book-card .card {
		background-color: #fafafa;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
	}

	.book-img-3 img,
	.book-img-2 img {
		width: 100px;
		height: auto;
		display: block;
		position: relative;
		top: -35px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.09);
		border-radius: 3px;
	}
	.book-img-3 img {width: 70px;}

	.card-hint {
		padding-top: 10px;
		display: inline-block;
		font-size: 12px;
		font-weight: 400;
	}
	.title-hint {
		display: inline-block;
		font-size: 15px;
		font-weight: 500;
	}

	._btn-1 {
		display: inline-block;
		font-size: 13px;
		font-weight: 900;
		color: #64637c;
		margin: 0 !important;
		padding-left: 10px;
		padding-right: 10px;
	}
	.book-card .card-content {
		min-height: 140px;
	}

	.book-card .stars-block i {font-size: 15px !important;}
	.book-card .stars-block .text {font-size: 13px !important;}

	.book-card .card-action {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
	}

	.book-card-description {
		margin-left: 25px;
		margin-top: -5px;
		width: 60%;
	}

	.book-card-description ._isbn {margin-top: 5px;}


	.message-btn {
		position: fixed;
		display: block;
		right: 5%;
		bottom: 5%;
		border-radius: 100%;
		width: 50px;
		height: 50px;
	}
	.message-btn i {
		display: block;
		top: 9px;
		position: absolute;
		left: 0;
		font-size: 25px;
		right: 0;
	}

	.green {background-color: #28b361 !important;}
/* end Sell Textbooks with books*/



/* 4 Sell Textbooks Listing Details */
	.book-img-1 {
		display: block;
		width: 140px;
		height: auto;
		margin-bottom: 20px;
	}

	.book-description-1 {
		margin-left: 30px;
	}

	.book-params-1 {
		margin-top: 5px;
	}

	.input-1 {
		border: 1px solid #545e65 !important;
		border-radius: 3px !important;
	}
	.input-1:focus {
		border-top: none !important;
		border-left: none !important;
		border-right: none !important;
		border-radius: 0 !important;
	}

	.input-1 + label {margin-left: 20px;}
	.input-1:focus + label {margin-left: 0;}

	.radio-group-1 {margin-bottom: 25px;}


	.input-2 label {
		color: #2f83bb;
		font-size: 17px;
	}

	.input-1-wrap,
	.input-2 {
		width: 80%;
	}


	.pop-price {
		float: left;
		border: 1px solid #e0e0e0;
		border-radius: 3px;
		padding: 10px 20px;
		margin-right: 30px;
		margin-bottom: 30px;
		color: #64637c;
		font-weight: 500;
		font-size: 15px;
		height: 43px;
	}

	.pop-price-img {
		float: left;
		margin-right: 10px;
		margin-bottom: 30px;
		height: 43px;
	}
	.pop-price-img img {
		height: 30px;
		width: auto;
	}


	.hint-1 {
		font-style: italic;
		font-size: 13px;
		color: #b3b3b3;

		position: relative;
		top: -15px;
	}
/* end Sell Textbooks Listing Details */


/* 5 Sell Textbooks filled*/
	#sell-textbooks-filled {
		margin-bottom:100px;
	}
	#sell-textbooks-filled .card {
		border-radius: 2px;
		width: 350px;
		background-color: #fafafa;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
	}
		#sell-textbooks-filled .card img {
			width: 93px;
			height: 120px;
			display: block;
			position: absolute;
			top: -15px;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.09)
		}
		#sell-textbooks-filled .card .card-action span {
			width: 163px;
			height: 15px;
			font-size: 11px;
			font-weight: 400;
			text-align: center;
		}
		#sell-textbooks-filled .card .card-action a {
			float:right;
			height: 16px;
			font-size: 12px;
			font-weight: 900;
			text-align: center;
			color: #64637c;
		}
		#sell-textbooks-filled .card .card-content {
			min-height: 130px;
		}
	#sell-textbooks-filled .stars-block i {
		font-size: 15px;
		color:#179f87;
	}
	#sell-textbooks-filled .message {
		position: absolute;
		display: block;
		right: 5%;
		background-color: #28b361;
		height: 55px;
		width: 50px;
		border-radius: 100%;
	}
		#sell-textbooks-filled .message i {
			display: block;
			top: 9px;
			position: absolute;
			left: 0;
			font-size: 25px;
			right: 0;
		}
.input-with-arrow {
	min-width: 310px !important;
}
#icon_prefix {
	min-width: 290px !important;
}
.textbooks-filled-description {
	max-width: 261px;
	height: 60px;
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
	line-height: 1.43;
	color: #64637c;
}


	@media(max-width:1200px) {
		#sell-textbooks-filled .card-container {
			width:350px !important;
			margin-right:35px;
		}
	}
	@media(max-width:580px) {
		#sell-textbooks-filled .input-with-arrow {
			width: 320px;
		}
		#sell-textbooks-filled .card {
			width: 310px;
			margin-right:0;
		}
		#sell-textbooks-filled .card-container {
			width:310px !important;
			margin-right:35px;
		}
	}
/* end Sell Textbooks filled*/



/* 6 Search Function Results */
	.search-block {
		position: relative;
		left: -18px !important;
	}
	.search-block .search-logo {
		font-size: 30px;
		font-weight: 400 !important;
		top: 2px;
	}

	.search-block .search-input {
		font-size: 22px;
		font-weight: 400 !important;
		width: 70% !important;
	}
	.search-block .search-input:focus {color: #4a4a4a;}


	.search-block-hint {
		color: #b7b7b7;
		font-weight: 300;
		font-size: 20px;
		text-align: right;
	}
	@media (max-width: 600px) {
		.search-block-hint {text-align: left;}

		.search-block .search-input { width: 80% !important;}
	}

	.search-options {
		margin: 5px 0 20px;
	}

	.search-options input {
		border: none !important;
	}
	.search-options input,
	.search-options span.caret {
		color: #b2b1be;
	}

	.search-results .book-img-2 img {top: -3px;}

	.new-price {
		display: inline-block;
		color: #64637c;
		font-weight: 500;
		font-size: 34px;
	}
	.old-price {
		display: inline-block;
		color: #929292;
		font-weight: 400;
		font-size: 12px;
		margin-left: 10px;
		line-height: 16px;
	}


	.sidebar-1 {
		padding-top: 108px !important;
	}

	.sidebar-1 [type="checkbox"] + label {
		padding-left: 32px !important;
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 15px;
		clear: both;
		display: block;
	}


	.search-results .book-card {margin-bottom: 40px;}
	@media (max-width: 1250px) {
		.search-results .book-card.l6 {
			width: 100%;
		}
	}

	@media (max-width: 992px) {
		.sidebar-1 {padding: 0 0 30px 15px !important;}

		.sidebar-1 [type="checkbox"] + label {
			display: inline-block;
		}

	}
/* end Search Function Results */



/* 9 Notifications sidebar*/
	.side-nav {
		padding-left: 0;
		padding-right: 0;
	}
		.side-nav .row {
			padding-left: 35px;
			padding-right: 35px;
		}

		.close-side-nav {
			display: block;
			position: absolute;
			right: 19px;
			top: 10px;
			cursor: pointer;
			color: #c9c9c9;
		}

		.side-nav-title {
			font-family: Roboto;
			font-size: 18px;
			font-weight: 500;
			color: #64637c;
			margin-top: 13px;
		}
		.side-nav .circle-img {
			border-radius: 100%;
			width: 63px;
			height: 63px;
		}
		.side-nav .check-notification {
			position: absolute;
			margin-left: 10px;
			margin-top: -2px;
		}
			.side-nav .check-notification i {
				width: 17.6px;
				height: 13.4px;
				color: #28b361;
			}
		.side-nav .product-block img {
			width: 60px;
			height: 75.8px;
		}
		.side-nav .view-all-notifications {
			padding-top:10px;
			height: 83px;
			background-color: #f0f0f0;
			position: static;
			width: 100%;
			bottom: 0;
			left: 0;
			right: 0;
		}
/* end Notifications sidebar*/



/* 9 Notifications sidebar*/
	.schedule {
		width: 100%;
		height: 260px;
		/*opacity: 0.2;*/
		background-color: rgba(84, 94, 101, 0.2);
		padding-top:52px;
		padding-bottom:65px;
	}
	.schedule p {
		width: 255px;
		font-size: 14px;
		font-weight: 600;
		font-style: italic;
		color: #545e65;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.schedule-autocomplete {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.schedule-autocomplete #autocompleteState {
		margin-left: 55px;
	}
	.card-pink .card {
		background-color: rgba(254, 189, 104, 0.11);
	}
	.card-pink .card .card-action img {
		width: 95px;
		display: block;
		top: 16px;
		position: absolute;
	}
	.help-block {
		padding-top: 30px !important;
	}
	.help-block i {
		vertical-align: middle;
	}
	.help-block .search-options {
		top: -30px;
		position: relative;
	}

	@media (max-width: 992px) {
		.help-block {
			float: left !important;
		}
	}
/* end Notifications sidebar*/

/* 9 Notifications sidebar*/
	.collegues .users img {
		width: 60px;
		height: 60px;
		border-radius: 100%;
		margin: auto;
		display: block;
	}
	.collegues .users .l1 {
		margin-right:10px;
	}
	.collegues .users p {
		text-align: center;
	}
	.collegues .users .more-students {

		font-size: 18px;
		font-weight: 600;
		color: #545e65;
		width: 60px;
		height: 60px;
		line-height: 3.3;
		text-align: center;
		border-radius: 100%;
		margin: auto;
		background-color: rgba(216, 216, 216, 0.51);
	}
/* end Notifications sidebar*/



/* 17 - Shopping Cart Step 2 */
	.close-btn {
		display: block;
		position: absolute;
		top: 65px;
		cursor: pointer;
		right: 78px;
		color: #000000;
		border-radius: 100%;
	}
		.close-btn i {
			font-size: 30px;
		}
	.steps {
		/*padding: 0 174px !important;*/
		display: table  !important;
	    margin: 0 auto  !important;
	    float: none  !important;
	    width: auto  !important;
	}
	@media (max-width: 900px) {
		div._step {
			width: 100% !important;
			display: block !important;
			margin-bottom: 30px;
		}
		div._step .hr {display: none;}
	}

	.step-point {
		width: 30px;
		height: 30px;
		border-radius: 100px;
		background-color: #545e65;
		color: white;
		display: inline-block;
		text-align: center;
		padding-top: 4px;
		font-weight: 500;
		overflow: hidden
	}
	.step-point .material-icons {font-size: 20px;}
	.steps .hr {
		width: 73px;
		height: 0px;
		opacity: 0.3;
		border: solid 1px #979797;
		display: inline-block;
		margin-top: -5px;
		margin-left: 5px;
	}
	.step-point.inactive {
		background-color: #999fa3;
	}
	.align-sub {
		vertical-align: sub;
	}
	.my-wallet {
		max-width: 464px !important;
		height: 132px;
		border-radius: 2px;
		background-color: rgba(40,179,97,0.07);
	}
		.my-wallet .benefits {
			max-width: 234px;
		}
	.my-wallet [type="radio"]:checked+label:after, .my-wallet [type="radio"].with-gap:checked+label:before,
	.my-wallet [type="radio"].with-gap:checked+label:after {
		border: 2px solid #545e65;
	}
	.my-wallet [type="radio"]:checked+label:after, .my-wallet [type="radio"].with-gap:checked+label:after {
		background-color: #545e65;
		z-index: 0;
	}
	.saved-payment-method [type="radio"]:checked+label:after, .saved-payment-method [type="radio"].with-gap:checked+label:before,
	.saved-payment-method [type="radio"].with-gap:checked+label:after {
		border: 2px solid #545e65;
	}
	.saved-payment-method [type="radio"]:checked+label:after, .saved-payment-method [type="radio"].with-gap:checked+label:after {
		background-color: #545e65;
		z-index: 0;
	}
	.my-card {
		height: 120px !important;
		/*height: auto !important;*/
		overflow-y:hidden;
		background-color:white !important;
		border: solid 2px rgba(84, 94, 101, 0.13);
	}
	.my-card-show {
		height: auto !important;
		overflow-y: visible !important;
	}
		.my-card input, .my-card .input-field {
			margin:0;
		}
		.my-card .choose-credit-card {
			background-color: rgba(84, 94, 101, 0.07);
			min-height: 120px !important;
		}
		.my-card .choose-credit-card img {
			width: 23px;
			height: 14px;
		}
	.saved-payment-method {
		max-width: 345px;
		height: 79px;
		border-radius: 2px;
		background-color: rgba(84, 94, 101, 0.07);
	}
		.saved-payment-method img {
			width: 51px;
			height: 31px;
		}
	.questions {
		min-height: 418px;
		border-radius: 6px;
		background-color: rgba(84, 94, 101, 0.11);
		margin-top: 230px;
	}
		._question {
			padding: 0 30px 0 0 !important;
		}
	@media (max-width: 992px) {
		.questions {margin-top: 50px;}
	}

	@media(max-width: 375px) {
		.shopping-cart .container {
			max-width: 100% !important;
			width: 100% !important;
		}
	}
	@media(max-width: 768px) {
		.steps {
			/*width: 615px !important;*/
		}
	}
	.shopping-cart .questions {
		margin-top: 60px !important;
	}
/* end 17 - Shopping Cart Step 2 */



/* cancel-transaction-modal */
	#cancel-transaction-modal {
		width: 485px;
		height: 543px;
	}
	#cancel-transaction-modal [type="radio"]+label:before, #cancel-transaction-modal [type="radio"]+label:after {
		width: 20px;
		height: 20px;
	}
	@media(max-width:485px) {
		#cancel-transaction-modal {
			width: 100%;
			height:auto !important;
		}
	}
/* end Notifications sidebar*/




/* 10 My Textbooks With Books */

	.user-miniature img {
		width: 45px;
		height: auto;
		border-radius: 100%;
		margin-right: 10px;
	}
	.user-miniature ._name {
		color: #4a4a4a;
		font-weight: 500;
		font-size: 16px;
		margin: 1px 0 2px ;
	}
	.user-miniature ._role {
		color: #a4a4a4;
		font-weight: 400;
		font-size: 15px;
	}

	.user-size-0 img {width: 30px; margin-top: 3px;}
	.user-size-0 ._name {font-size: 12px;}
	.user-size-0 ._role {font-size: 12px;}

	.user-size-2 img {width: 50px;}
	.user-size-2 ._name {font-size: 18px;}
	.user-size-2 ._role {font-size: 17px;}

	.user-size-3 img {width: 60px;}
	.user-size-3 ._name {font-size: 20px;}
	.user-size-3 ._role {font-size: 19px;}


	.book-card.on-requesting .book-card-description span,
	.book-card.on-requesting .book-card-description h3,
	.book-card.on-requesting .book-card-description div {opacity: .6;}

	.book-card.on-requesting .book-card-description .user-miniature,
	.book-card.on-requesting .book-card-description .user-miniature * {opacity: 1;}


	.book-card._disabled .book-img-2,
	.book-card._disabled .book-card-description span,
	.book-card._disabled .book-card-description h3,
	.book-card._disabled .book-card-description div {opacity: .6;}

	.book-card._disabled .card-hint,
	.book-card._disabled .book-card-description .user-miniature,
	.book-card._disabled .book-card-description .user-miniature * {opacity: 1 !important;}


	._progress-bar {display: none;}
	.book-card.on-requesting ._progress-bar {display: block;}

	._progress-bar {
		position: absolute;
		top: -1px;
		left: 0;
		width: 100%;
	}

	.black-text {color: black;}

	._progress-bar .progress-line {
		transition: .2s;
		width: 16%;
		border-top: 2px solid #4bba79;
	}

/* end My Textbooks With Books */



/* 23 Textbook Details */
	.textbook-details .user-avatar {
		width: 38px;
		height: 38px;
		border-radius: 100%;
	}
	.textbook-details .stars-block i.txt-size-14 {
		font-size: 14px !important;
	}
/* end Textbook Details */



/* 12 My Schedule Without Books */
	.schedule-block {
		background-color: #dddfe1;
		padding: 40px 0 40px;
	}
	.close-card {
		display: block;
		position: absolute;
		top: -30px;
		right: -5px;
	}
	.close-card i {
		color:#cccfd1;
		font-size: 21px;
	}


	.input-2 {
		border-radius: 3px;
		background-color: #fff !important;
		height: 50px;
		margin: 0 25px 25px 0 !important;
	}
	.input-2 input {
		border: none !important;
		padding: 4px !important;
		color: #8b9297;
	}
	.input-2 .caret {top: 22px !important;}
	.input-2 label {color: #8b9297; font-size: 1rem; padding: 3px;}

	.input-2 input[type=text]:focus:not([readonly]) {
		border-bottom: none !important;
	    box-shadow: none !important;
	}

	.input-2 ._hint	{
		position: absolute;
		bottom: -38px;
		left: 15px;
		color: #616a71;
		font-size: 13px;
		border: none;
		background-color: transparent;
		border-radius: 3px;
	}
	.input-2 ._hint:hover {background-color: rgba(0,0,0, .1);}
/* end My Schedule Without Books */



/* 16 */
	
	.my-backpack,
	.my-messages {
		left: auto !important;
		right: -1000px !important;
		width: 400px;
		transition: .5s;
	}

	.my-backpack.active,
	.my-messages.active {
		right: -420px !important;
	}

	.minimize-side-nav,
	.menu-btn-side-nav {
		cursor: pointer;
		position: absolute;
		top: 16px;
		left: 10px;
	}
	.minimize-side-nav {
		left: auto;
		right: 45px;
		top: 16px;
	}

	._message {width: 70%;}

	._message ._text {
		border: 1px solid #dfe2e6;
		background-color: #fff;
		border-radius: 10px;
		padding: 20px;
	}

	
	.input-message-wrapper {
		position: absolute;
		bottom: 60px;
		left: 0;
		width: 100%;
	}
	.input-message {
		position: relative;
		padding: 15px;
		width: 100%;
	}

	.input-message input {
		width: 100%;
		padding: 15px !important;
		border: 1px solid #bfe3ce !important;
		border-radius: 5px;
		height: 50px;
		box-sizing: border-box !important;
		margin: 0 !important;
		background: #fff;
	}

	.input-message i {color: #bac1c4;}

	.vert {
		position: absolute !important;
		right: 26px !important;
		margin-top: -20px !important;
	}
	.reserve-block {
		margin-left: 46px;
		margin-top: -10px;
	}
	.requesting {
		margin-top: -8px;
	}

	.input-message ._attachment,
	.input-message ._mood {
		position: absolute;
		top: 26px;
		right: 21px;
		cursor: pointer;
	}

	.input-message ._attachment { right: 50px;  }
		
/* end 16 */



/* 22 Contact Seller Cancel modal */
	#contact-seller-cancel {
		width: 485px;
		height: 385px;
	}
		#contact-seller-cancel img {
			width: 76px;
			height: 76px;
			border-radius: 100%;
		}
/* end Contact Seller Cancel modal */



/* 18 My items */
.my-items .stars-block i {
	font-size: 14px !important;
}
.my-items .book img {
	width: 98px;
	height: 126px;
}
/* end My items */



/* 20 Shopping cart contact seller */
.contact-seller .user-avatar {
	width: 76px;
	height: 76px;
}
/* end Shopping cart contact seller */





/* It is not general styles */
	.schedule .select-wrapper input.select-dropdown {
		/*width: 275px !important;*/
		height: 46px !important;
		border-radius: 2px !important;
		background-color: #ffffff !important;
		border-bottom: none !important;
		padding: 0 20px;
	}
	.schedule .dropdown-content {
		position: absolute !important;
		top: 50px !important;
		left: 0px;
		opacity: 1;
	}
	.schedule .dropdown-content span {
		color: #545e65 !important;
		font-size: 14px !important;
		font-weight: 400 !important;
	}
	.schedule .select-wrapper span.caret {
		z-index:1;
		right: -15px !important;
	}



	.schedule-block .autocomplete-content {
		position: absolute;
		margin-top: -.9rem;
		border-radius: 2px;
		background-color: #fafafa;
		box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
		margin-left: -12px;
		width: 100% !important;
		z-index: 1;
	}

	.schedule-block .autocomplete-content .close-icon {
		display: block;
		position: absolute;
		right: 10px;
		margin-top: -7.5%;
	}

	.schedule-block .autocomplete-content .close-icon i {
		color: #9291a3;
		font-size:14px;
	}

	.schedule-block .autocomplete-content li {
		clear: both;
		color: rgba(0, 0, 0, 0.87);
		cursor: pointer;
		line-height: 0;
		width: 100%;
		text-align: left;
		text-transform: none;
		padding: 20px;
	}

	.schedule-block .autocomplete-content li > span {
		display: block;
		font-size: 12px;
		font-weight: 400;
		color: #9291a3;
		padding: 0;
		padding-bottom: 8px;

	}
	.schedule-block .autocomplete-content li > p {
		font-size: 14px;
		font-weight: 500;
		color: #545e65;
		font-style: normal;
	}

	.schedule-block .autocomplete-content li > span .highlight {
		color: #000000;
	}

	.schedule-block .autocomplete-content li img {
		height: 52px;
		width: 52px;
		padding: 5px;
		margin: 0 15px;
	}

	.schedule-block .autocomplete-content li:hover {
		background-color: #eeeeee;
		cursor: pointer;
	}

	.schedule .inputFields {
		/*width: 292px !important;*/
		height: 46px !important;
		border-radius: 2px !important;
		background-color: #fff !important;
		border-bottom: 0 !important;
		font-size: 14px;
		font-weight: 400;
		color: #545e65;
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	.schedule .autocomplete:focus,
	.schedule .autocomplete:active {
		border-bottom: 0 !important;
		box-shadow:none !important;
	}
/* It is not general styles */




/* General Styles */
	[type="radio"] + label,
	[type="checkbox"] + label {
		color: #545e65 !important;
		padding-left: 25px;
		margin-right: 20px;
	}

	[type="checkbox"]+label:before,
	[type="checkbox"]:not(.filled-in)+label:after {
		border-radius: 3px;
	}


	.line-through {text-decoration: line-through;}



	._relative {position: relative !important;}

	.top_-10 {top: -10px;}

	.padding-top {padding-top: 30px;}
	.padding-top-2 {padding-top: 10px;}
	.padding-top-3 {padding-top: 5px;}

	._center {
		margin-left: auto !important;
		margin-right: auto !important;
		display: table;
	}
	.no-padding {padding: 0 !important;}
	.padding-left-0 {padding-left: 0 !important;}
	.no-margin {margin: 0 !important;}

	.margin-bottom-0 {margin-bottom: 0 !important;}
	.margin-top-0 {margin-top: 0 !important;}

	.margin-bottom-5 {margin-bottom: 5px !important;}
	.margin-top-5 {margin-top: 5px !important;}

	.margin-left-10 {margin-left: 10px !important;}
	.margin-left-25 {margin-left: 25px !important;}

	.top-0 {top: 0 !important;}


	._clear {clear: both;}

	.w-75 {width: 75px !important}

	.w-190 {width: 190px !important}
	.w-240 {width: 240px !important;}
	.w-250 {width: 250px !important;}
	.w-380 {width: 380px !important;}

	.max-w-190 {max-width: 190px;}
	.max-w-240 {max-width: 240px !important;}
	.max-w-250 {max-width: 250px !important;}
	.max-w-380 {max-width: 380px !important;}

	.max-w-830 {max-width: 830px !important;}

	.min-h-50 {min-height: 50px !important;}

	.border-bottom-none {border-bottom:none !important;}

	.title-1 {
		font-size: 25px;
		font-weight: 500;
		margin-bottom: 10px;
	}
	.title-2 {
		font-size: 18px;
		font-weight: 400;
		margin: 0 0 10px;
		color: #afafbb;
	}
	.title-3 {
		font-size: 22px;
		font-weight: 500;
		margin: 0 0 10px;
	}
	.title-4 {
		font-size: 16px;
		color: #9e9e9e;
		margin-bottom: 8px;
	}

	.float-none {float: none !important;}
	.float-right {float: right !important;}
	.float-left {float: left !important;}
	.opacity-03 {opacity: 0.3;}
	.opacity-05 {opacity: 0.5;}
	.opacity-07 {opacity: 0.7;}
	.opacity-08 {opacity: 0.8;}

	.align-super {vertical-align: super;}
	.align-top {
		vertical-align: top;
		line-height: 2;
	}

	.more-vert {
		margin-left: 10px;
	}
	.align-middle {vertical-align: middle;}
	.align-top {vertical-align: top;}

	.padding-top-5 {padding-top: 5px !important;}
	.padding-left-10 {padding-left: 10px !important;}
	.padding-right-10 {padding-right: 10px !important;}
	.padding-left-20 {padding-left: 20px !important;}
	.padding-left-50 {padding-left: 50px !important;}
	.padding-right-50 {padding-right: 50px !important;}
	.padding-right-20 {padding-right: 20px !important;}



	.x-auto {overflow-x: auto;}
	.max-w-row {width: 100% !important; min-width: 1080px !important;}

	.txt-center {text-align:center;}
	.txt-right {text-align:right;}
	.txt-left {text-align:left;}

	.txt-grey-0 {color: #545e65 !important;}
	.txt-grey-1 {color: #64637c !important;}
	.txt-grey-2 {color: #9291a3;}
	.txt-grey-3 {color: #cccfd1;}
	.txt-grey-4 {color: #adadb9;}
	.txt-grey-5 {color: #4a4a4a;}
	.txt-grey-6 {color: #a2b4bc;}
	.txt-grey-7 {color: #28264a;}
	.txt-pink {color:#d94974;}

	.pink {background-color:#d94974 !important;}

	.min-w-130 {min-width:130px;}

	.txt-size-10 {font-size: 10px;}
	.txt-size-11 {font-size: 11px;}
	.txt-size-12 {font-size: 12px !important;}
	.txt-size-13 {font-size: 13px !important;}
	.txt-size-14 {font-size: 14px;}
	.txt-size-16 {font-size: 16px;}
	.txt-size-26 {font-size: 26px;}
	.txt-size-18 {font-size: 18px;}
	.txt-size-19 {font-size: 19px;}
	.txt-size-20 {font-size: 20px;}
	.txt-size-24 {font-size: 24px;}
	.txt-size-26 {font-size: 26px;}
	.txt-size-28 {font-size: 28px;}

	.txt-green {color: #28b361 !important;}
	.txt-green-2 {color: #179f87;}
	.txt-green-3 {color: #3ab96e !important;}
	.txt-green-4 {color: #1cfb8c !important;}

	.margin-top-100 {margin-top: 100px !important;}

	._italic {font-style: italic;}
	.txt-100 {font-weight: 100;}
	.txt-200 {font-weight: 200;}
	.txt-300 {font-weight: 300;}
	.txt-400 {font-weight: 400 !important;}
	.txt-500 {font-weight: 500;}
	.txt-600 {font-weight: 600;}
	.txt-700 {font-weight: 700;}
	.txt-800 {font-weight: 800;}
	.txt-900 {font-weight: 900;}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none !important;
	margin: 0 !important;
}
/* end General Styles */



/* Buttons */
	._close-btn {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 50px;
		height: 50px;
	}
	._close-btn .material-icons {
	    font-size: 30px;
    	margin-top: 7px;
	}
	@media (max-width: 600px) {
		._close-btn {
		    top: 3px;
		    right: 3px;
		}
	}

	.btn-circled {
		border-radius: 30px;
		font-weight: 500;
	}
	.scan-icon img {
		margin: 0;
	}
	.scan-btn {
		background-color:#179f87;
	}
/* end Buttons */



/* Others */
	.modal {
		top: 0 !important;
		max-height: 100% !important;
	}
	.modal-content {
		height: 100%;
	}

	.grey.darken-4 {background-color: #545e65 !important;}
	.teal {background-color: #179f87 !important;}


	@media only screen and (min-width: 993px) {
		.container {
		    width: 80%;
		}
	}


	.backdrop {
       background-color: #545e65;
     }

	.dark {
       background-color: #545e65;
     }


     .select-wrapper span.caret {
     	font-size: 0;
     	width: 0;
		height: 0;
		border-style: solid;
		border-width: 6px 5px 0 5px;
		border-color: #b4b8bb transparent transparent transparent;
		display: inline-block;
		cursor: pointer;
     }

/* end Others */